@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    Inter var,
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

#root {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
}

.max-w-container {
  max-width: 85rem;
}

@font-face {
  font-family: Inter var;

  font-style: normal;

  font-weight: 100 900;

  font-display: swap;

  src: url("./assets/fonts/Inter-roman.var.woff2?v=3.18") format("woff2");

  font-named-instance: Regular;
}

@font-face {
  font-family: Inter var;

  font-style: italic;

  font-weight: 100 900;

  font-display: swap;

  src: url("./assets/fonts/Inter-italic.var.woff2?v=3.18") format("woff2");

  font-named-instance: Italic;
}

@layer components {
  .body-style {
    @apply flex min-h-full flex-col font-sans text-gray-600 antialiased [overflow-anchor:none];
  }
}
